---

apiVersion: v1
kind: Pod
metadata:
  name: "k3s-vip-{{ inventory_hostname_short }}"
  namespace: kube-system
  labels:
    k8s-app: k3s-vip
{% if k3s_vip_manifest_always_reload %}
  annotations:
    timestamp: "{{lookup('pipe','date +%Y%m%d%H%M%S.%5N')}}"
{% endif %}
spec:
  hostNetwork: true
  nodeName: {{ inventory_hostname_short }}
  containers:
    - name: keepalived
      image: osixia/keepalived:stable-amd64
      env:
        - name: KEEPALIVED_STATE
          value: "{{ (ansible_play_hosts.index(inventory_hostname) == 0) | ternary('MASTER','BACKUP') }}"
        - name: KEEPALIVED_PASSWORD
          value: {% if hostvars[ansible_play_hosts[0]].k3s_vip_auth_pass is defined %}
"{{ hostvars[ansible_play_hosts[0]].k3s_vip_auth_pass.stdout }}"
{% else %}
"{{ lookup('password', '/dev/null length=8 chars=ascii_letters,digits') }}"
{% endif %}
        - name: KEEPALIVED_ROUTER_ID
          value: "{{ (k3s_service_cidr.split('.')[2] | int * 1.25) | int }}"
        - name: KEEPALIVED_PRIORITY
          value: "{{ (ansible_play_hosts | length - ansible_play_hosts.index(inventory_hostname)) * ((k3s_service_cidr.split('.')[2] | int * 1.25) | int) // (ansible_play_hosts | length) }}"
        - name: KEEPALIVED_UNICAST_PEERS
          value: "#PYTHON2BASH:['{% for host in (ansible_play_hosts | difference(inventory_hostname)) %}
{{ hostvars[host].ansible_default_ipv4.address }}
{%- if not loop.last %}','{% endif %}
{% endfor %}']"
        - name: KEEPALIVED_VIRTUAL_IPS
          value: "{{ k3s_advertise_address }}"
        - name: KEEPALIVED_INTERFACE
          value: "{{ ansible_default_ipv4.interface }}"
      securityContext:
        capabilities:
          add:
            - NET_ADMIN
            - NET_BROADCAST
            - NET_RAW
