{% if k3s_datastore_endpoint != "" and 'k3s_server' in group_names %}
K3S_DATASTORE_ENDPOINT='{{ k3s_datastore_endpoint }}'
{% endif %}
{% if k3s_token is defined %}
K3S_TOKEN='{{ k3s_token }}'
{% endif %}
{% for key, value in k3s_env_variables.items() %}
{{ key }}='{{ value }}'
{% endfor %}